$color-blue: #0c5c78;
$color-violet: #380036;
$color-grey: #818181;
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.wrapper h2 {
    color: $color-blue;
}

.form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    button {
        margin-top: 50px;
    }
}

.radioButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}