$color-blue: #0c5c78;
.radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 20px 20px 0 0;
    font-weight: 700;
    color: $color-blue;
    input {
        opacity: 0;
        position: absolute;
    }
    &Button {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid $color-blue;
    }
    input:checked+&Button {
        background-color: $color-blue;
        box-shadow: inset 0 0 0 2px white;
    }
}